<h1>Movie Review Page</h2>
<%= @movie.name %>
<br>
<%= @avg_rating %>
<br>
<br>
<% @reviews.each do |rev| %>
	<%= rev.user.username %>
	<%= rev.comment %>
	<% if rev.user.username==session[:username]||@user.admin? %>
		<%= link_to("Edit Review", {controller: 'reviews', action: 'edit', movie_id: @movie.id, id: rev.id}) %>
		<% @flag = 1 %>
	<% end %>
<% end %>
<br>

<% if @flag == 0 %>
	<%= link_to("Write a Review", {action: 'new' , controller: 'reviews', movie_id: @movie.id}) %>
<% end %>

<%= link_to("Back to Movie Listing", action: 'list') %>	
	


