<title>NITK Review</title>
<% if !flash[:notice].blank? %>
 	<div class="alert alert-dismissable alert-warning" style="position:absolute;width:250px">
 	<button type="button" class="close" data-dismiss="alert">×</button>
 	<p><%= flash[:notice] %></p>
 	</div>
 <% end %>

<body style="background-image:url(http://cdn.screenrant.com/wp-content/uploads/marvel-logo-wallpaper.jpg);font-family:'Trebuchet MS', Helvetica, sans-serif;background-repeat:no-repeat;background-size:cover" >
<div class="container" style="width:925px;padding-top:280px;padding-left:7px;padding-right:15px" >

 <div class="center jumbotron">
 <% if session[:user_id]==nil %>
 <h1>Welcome</h1>

 <%= form_for(:user, url: {action: 'attempt_login'}, class: "form-horizontal") do |f| %>
 
 <div class="row">
 <div class="col-md-4 col-md-offset-4">

 <table summary="User login field">
	<div class="form-group">
	    <%= f.text_field :username, :class => "form-control floating-label", :type => "text", :placeholder => "USERNAME" %>
	</div>
	<div class="form-group">
	    <%= f.password_field :password, :class => "form-control floating-label", :type => "password", :placeholder => "PASSWORD" %>
	</div>
 </table>

 </div>
 </div>

 <%= submit_tag("Login", :class => "btn btn-default btn-raised") %>
 <br>
 <%= link_to("About", {action: 'about'}, :class => "btn btn-success btn-raised") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to("Sign Up!", {action: 'new'}, :class => "btn btn-primary btn-raised") %>

 <% end %>
 <% end %>

</div>
</div>
</body>

