<title>Who again?</title>
<body style="background-image:url(http://fc02.deviantart.net/fs37/f/2009/298/b/9/Pixar___Up___Wallpaper_15_by_pwn247.jpg);background-repeat:no-repeat;background-size:cover;font-family:'Trebuchet MS', Helvetica, sans-serif" >

<div class="container" style="width:700px" >
<div class="center jumbotron">

<div class="file show">
	<h2 style="font-size:50px"><%= @user.username %></h2>
	<div class="well" style="font-size:25px">
    <%= @user.first_name + ' ' + @user.last_name %>
	</div>

	<div class="well" style="font-size:25px">
    No of Reviews: <%= @count %>
	</div>
	
	<% if @user==@current_user||@current_user.admin? %>
		<%= link_to("Edit Profile", {action: 'edit', id: @user.id}, :class => "btn btn-success btn-raised") %>
		<br>
		<br>
	<% end %>

	<br>
	<br>

	<%= link_to '<button class="btn btn-fab btn-fab-mini btn-raised btn-material-lightyellow"><i class="mdi-content-reply"></i><div class="ripple-wrapper"></div></button>'.html_safe,{action: 'index',controller: 'users'} %>
</div>

</div>
</div>
 